.header-container {
  background-color: rgba(195, 243, 195, 0.746);
  padding: 2rem;
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  margin-bottom: 1rem;
  .img-box {
    margin: 0 auto;
    display: inline-block;

    .header-img {
      height: 7rem;
      display: block;
      margin: 0 auto;
    }

    h1 {
      color: rgba(10, 128, 10, 0.815);
      font-weight: 700;
      text-align: center;
      text-transform: uppercase;

      &:hover {
        text-shadow: -2px -2px 2px rgba(150, 150, 150, 1);
      }
    }
  }
}
